<?xml version="1.0"?>
<model>
  <name>baby_k</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Alessandro De Crescenzo</name>
    <email>alessandro.decrescenzo1@gmail.com</email>
  </author>
  <description>model of h coaxial tilting baby k drone from PRISMA Lab UniNa</description>
</model>
